.home-container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10%;
}

.book-list {
  list-style: none;
  padding: 0;
  max-height: 360px;
  overflow-y: auto;
}

.book-list-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.book-description {
  text-align: start;
  font-size: 12px;
}

.action-list {
  display: flex;
  align-items: center;
  gap: 4px;
}

.book-tag {
  background-color: #ff0000;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 12px;
  color: white;
}

.action-button {
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.action-button:hover {
  background-color: #ccc;
}